<!DOCTYPE html>
<html>
  <head>
    <title>Hipsterfication</title>
      <link href='stylesheets/homepage.css' rel='stylesheet'>
      <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=display-width, initial-scale=1">
      <meta charset="utf-8">
  </head>

  <body>
    <div class="box">
    <a href='/index'><section class="title">Hipsterfication</section></a>
    <h1>"A process whereby a bunch of tools, posing as cools, invade an area and turn it into stupidville."</h1>
    </div>

  </body>
</html>
