<!DOCTYPE html>
<html>
<head>
  <title>Data Layer: Dynamic Styling</title>
    <link href='stylesheets/homepage.css' rel='stylesheet'>
    <meta name="viewport" content="width=display-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
  <button>
    <h1>
      <a href='/index'>TrendMapper</a>
    </h1>
  </button>
  <h3>Built by Kieran Goodacre, Jake Alvarez, Gus Powell, Josh Bebbington & Johnny Lakin</h3>
</body>
</html>