<html>
  <head>
    <title>Data Layer: Dynamic Styling</title>
    <link href='stylesheets/map.css' rel='stylesheet'>
    <meta name="viewport" content="width=display-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>

    <section class='left-col'>
      <div id="map-canvas"></div>
    </section>
    <section class='right-col'>
      Trend Mapper
    </section>

  </body>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='javascripts/googleMap.js'></script>
    <script src='javascripts/colorChange.js'></script>

</html>
