<html>
  <head>
    <title>Hipsterfication</title>
    <link href='stylesheets/map.css' rel='stylesheet'>
    <meta name="viewport" content="width=display-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>

    <section class='left-col'>
      <div id="map-canvas"></div>
    </section>
    <section class='right-col'>
      <h1>Hot or Not?</h1>
      <div class='index-container'>
        <div class='borough-name'></div>
        <div class='borough-index'></div>
      </div>

      <div class='image-container'></div>

      <template id='instagram-images'>
        <section>
          <img class='images' id="image1" src="" />
          <img class='images' id="image2" src="" />
          <img class='images' id="image3" src="" />
          <img class='images' id="image4" src="" />
          <img class='images' id="image5" src="" />
          <img class='images' id="image6" src="" />
          <img class='images' id="image7" src="" />
          <img class='images' id="image8" src="" />
          <img class='images' id="image9" src="" />
          <img class='images' id="image10" src="" />
          <img class='images' id="image11" src="" />
          <img class='images' id="image12" src="" />
          <img class='images' id="image13" src="" />
          <img class='images' id="image14" src="" />
          <img class='images' id="image15" src="" />
          <img class='images' id="image16" src="" />
          <img class='images' id="image17" src="" />
          <img class='images' id="image18" src="" />
          <img class='images' id="image19" src="" />
          <img class='images' id="image20" src="" />

        </section>
      </template>

    </section>

  </body>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='javascripts/googleMap.js'></script>
    <script src='javascripts/instagramApi.js'></script>

    <script src='javascripts/colorChange.js'></script>

    <script src='javascripts/colorChange.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</html>
