<html>
  <head>
    <title>Data Layer: Dynamic Styling</title>
    <link href='stylesheets/map.css' rel='stylesheet'>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='javascripts/googleMap.js'></script>




  </head>

  <body>

    <div id="map-canvas"></div>

    
  </body>


</html>
