@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  /*background-color: #1D283D;*/
  background: url("http://www.fiftyfiveandfive.com/wp-content/uploads/2014/01/Black_White_London_01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;
  color: white;
  font-family: sans-serif;
  padding-top: 15%;
}

a {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 10em;
  text-decoration: none;
  color: #F95B58;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*font-style: italic;*/
  font-weight: 400;
  font-size: 1.8em;
  padding-top: 0.5%;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding-bottom: 2%;
}
