html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.right-col {
	float: right;
	height: 100%;
	width: 23%;
	background-color: #2F1380;
}

.left-col {
	height: 100%;
  width: 77%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.images {
  float: left;
  width: 50%;
}

.index-container {
  width: 100%;
  height: 38%;
}

.image-container {
  width: 100%;

}
