html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.right-col {
	float: right;
	height: 100%;
	width: 23%;
	background-color: #1D283D;
  overflow: scroll;
}

.left-col {
	height: 100%;
  width: 77%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.images {
  float: left;
  width: 50%;
}

.index-container {
  width: 100%;
}

.borough-name {
  padding-top: 15%;
  color: white;
  font-size: 3em;
  text-align: center;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.borough-index {
  font-size: 8em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.image-container {
  width: 100%;
}

