html, body {
 height: 100%;
 margin: 0px;
 padding: 0px
}
h1{
  color: white;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  text-align: center;
  font-size: 1.6em;
  font-weight: 100;
}

#map-canvas {
 height: 100%;
 width: 100%;
 margin: 0px;
 padding: 0px
}

.right-col {
 float: right;
 height: 100%;
 width: 23%;
 background-color: #1D283D ;
 /*display: none;*/
 overflow: scroll;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 100;
}

.left-col {
 height: 100%;
 width: 77%;
 margin: 0px;
 padding: 0px;
 float: left;
}

.images {
 float: left;
 width: 50%;
}

.index-container {
 width: 100%;
 height: 38%;
}

.borough-name {
 padding-top: 10%;
 color: white;
 font-size: 2.3em;
 text-align: center;
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 3em;
 text-decoration: none;
 /*font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;*/
}

.borough-index {
 font-size: 8em;
 text-align: center;
 left: 82%;
 padding-top: 10%;
 margin-top: 5%;
 font-family: 'Lobster', Georgia, Times, serif;
 font-size: 8em;
 text-decoration: none;
 color: #F95B58;
 /*font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;*/
}

.image-container {
 width: 100%;
}

.images {
 /*padding: 2px;*/
}


.images {
 /*padding: 2px;*/
}
